---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

const getBooksRead = async () => {
	try {
		const response = await fetch('/api/books-read');
		const data = await response.json();
		return data.numBooksRead;
	} catch (err) {
		console.error(err);
		return;
	}
};

const getGamesPlayed = async () => {
	try {
		const response = await fetch('/api/games-played');
		const data = await response.json();
		return data;
	} catch (err) {
		console.error(err);
		return;
	}
};

const booksRead = await getBooksRead();
const gamesPlayed = await getGamesPlayed();
const postsThisYear = (await Astro.glob('./blog/*.{md,mdx}')).filter(
	(post) => new Date(post.frontmatter.pubDate).getFullYear() === 2023
).length;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-slate-100">
		<Header />
		<main>
			Blog posts: {postsThisYear}
			Books read: {booksRead || 'No data...'}
			Games played: {
				gamesPlayed
					? `${gamesPlayed.gamesPlayed}/${gamesPlayed.totalCollection}`
					: 'No data...'
			}
		</main>
		<Footer />
	</body><!-- 
    - goodreads - 24 books
    - board game geek - all games
    - strava - 1200km
    - 24 blog posts
 -->
</html>
