---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

const getBooksRead = async () => {
	try {
		const response = await fetch('https://timveletta.com/api/books-read');
		const data = await response.json();
		return data;
	} catch (err) {
		console.error(err);
		return;
	}
};

const getGamesPlayed = async () => {
	try {
		const response = await fetch('https://timveletta.com/api/games-played');
		const data = await response.json();
		return data;
	} catch (err) {
		console.error(err);
		return;
	}
};

const getDistanceCycled = async () => {
	try {
		const response = await fetch('https://timveletta.com/api/distance-cycled');
		const data = await response.json();
		return data;
	} catch (err) {
		console.error(err);
		return;
	}
};

const booksRead = await getBooksRead();
const gamesPlayed = await getGamesPlayed();
const distanceCycled = await getDistanceCycled();
const updatedAt = new Date().toLocaleString('en-AU');
const postsThisYear = (await Astro.glob('./blog/*.{md,mdx}')).filter(
	(post) => new Date(post.frontmatter.pubDate).getFullYear() === 2023
).length;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-slate-100 border-t-8 border-primary">
		<Header />
		<main>
			Blog posts: {postsThisYear}
			Books read: {booksRead ? booksRead.numBooksRead : 'No data...'}
			Games played: {
				gamesPlayed
					? `${gamesPlayed.gamesPlayed}/${gamesPlayed.totalCollection}`
					: 'No data...'
			}
			Distance cycled: {
				distanceCycled ? distanceCycled.distanceCycled : 'No data...'
			}
			Last updated: {updatedAt}
		</main>
		<Footer />
	</body>
</html>
