---
import { Image } from '@astrojs/image/components';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BlogPostExcerpt from '../components/BlogPostExcerpt.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import developer from '../images/web_developer.svg';
import profile from '../images/profile_image.jpg';
import awsCertificate from '../images/aws-developer-associate.png';

const posts = (await Astro.glob('./blog/*.{md,mdx}'))
	.sort(
		(a, b) =>
			new Date(b.frontmatter.pubDate).valueOf() -
			new Date(a.frontmatter.pubDate).valueOf()
	)
	.slice(0, 3);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-slate-100 border-t-8 border-primary">
		<Header />
		<main>
			<div
				class="container px-4 mx-auto mt-32 grid md:grid-cols-2 sm:grid-cols-1 content-center items-center gap-8"
			>
				<div class="mb-16">
					<h1 class="font-sans text-6xl font-bold tracking-wide text-slate-800">
						Tim Veletta
					</h1>
					<hr class="h-4 w-20 mt-4 mb-3 bg-primary" />
					<h2
						class="font-sans text-4xl font-thin tracking-wide leading-relaxed text-slate-800"
					>
						Cloud Native Developer based in Perth, Australia
					</h2>
				</div>
				<div class="w-full flex justify-center mb-16 md:justify-end">
					<img class="max-h-1/2" src={developer} alt="Developer" />
				</div>
			</div>
			<section class="container px-4 mx-auto my-20 py-10">
				<h1
					class="font-sans text-slate-800 text-3xl font-bold tracking-wide text-center"
				>
					Recent Articles
				</h1>
				<hr class="h-4 w-20 mt-3 mb-12 bg-primary mx-auto" />
				<div class="grid lg:grid-cols-3 grid-cols-1 gap-8">
					{posts.map((post) => <BlogPostExcerpt {...post} />)}
				</div>
				<div class="my-12 flex justify-center">
					<a
						href="/blog"
						class="bg-primary text-white font-bold px-4 py-2 rounded hover:bg-opacity-75"
					>
						See All Posts
					</a>
				</div>
			</section>
			<section class="container px-4 mx-auto my-20 pt-10 pb-20">
				<div class="block text-center">
					<h1
						id="aboutme"
						class="font-sans text-3xl font-bold tracking-wide text-slate-800"
					>
						About Me
					</h1>
				</div>
				<hr class="h-4 w-20 mt-3 mb-12 bg-primary mx-auto" />
				<div class="grid grid-cols-1 lg:grid-cols-2 gap-20 align-center">
					<div class="leading-loose text-slate-800 p-2 text-lg font-serif">
						<p class="mb-4">
							I'm a software engineer passionate about building highly scalable
							and available serverless applications. I particularly enjoy being
							able to see ideas all the way from conceptualisation through to
							delivery and have been known to work on multiple projects in my
							own time to experience the full development process.
						</p>
						<p class="mb-4">
							I am enthusiastic about creating simple, enjoyable and easy to use
							products and strive to find the right balance between aesthetic
							and function and enjoy pushing the boundaries of my knowledge to
							build them.
						</p>
						<p class="mb-8">
							In my spare time I enjoy board games with friends, woodworking,
							reading and playing with my two dogs.
						</p>
						<Image
							format="webp"
							class="max-h-1/2 mx-auto"
							src={awsCertificate}
							alt="AWS Developer Associate certificate"
						/>
					</div>
					<Image
						format="webp"
						class="rounded"
						src={profile}
						alt="Picture of me"
					/>
				</div>
			</section>
			<Footer />
		</main>
	</body>
</html>
