---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import { fade } from "astro:transitions";
import { getCollection } from "astro:content";

const tils = (await getCollection("til")).filter(
  (post) => post.data.draft !== true
);

const categories = new Set(tils.map((post) => post.data.category).sort());
---

<!doctype html>
<html lang="en" transition:animate={fade({ duration: "0.4s" })}>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="dark:bg-gray-900 dark:text-gray-200 border-t-8 border-primary">
    <Header />
    <main>
      <section class="container px-4 mx-auto my-20 py-10">
        <h1
          class="text-3xl font-extrabold text-gray-900 dark:text-white tracking-tight sm:text-4xl md:text-5xl leading-snug text-center mb-8"
        >
          TIL
        </h1>
        <blockquote
          class="inline-block text-lg font-bold text-gray-700 dark:text-white tracking-wide mb-4 border-l-8 py-2 px-4 border-primary bg-gray-200 dark:bg-slate-700 rounded-r-md"
        >
          Today I Learned
        </blockquote>
        <p
          class="text-2xl font-light text-gray-900 dark:text-white tracking-wide leading-relaxed mb-4"
        >
          This is a collection of small write-ups on things I learn day-to-day
          through work, side projects, reading and other life experiences. These
          are things that don't really warrant a full blog post and are intended
          to be short and to the point.
        </p>
        <p
          class="text-lg font-light text-gray-900 dark:text-white tracking-wide leading-relaxed mb-8"
        >
          This is inspired by <a
            class="text-primary underline"
            target="_blank"
            href="https://github.com/jbranchaud/til">Josh Branchaud's</a
          > impressive collection of TILs.
        </p>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
          {
            [...categories].map((category) => (
              <div>
                <h2 class="text-2xl font-extrabold text-gray-900 dark:text-white tracking-tight leading-snug mb-4">
                  {category}
                </h2>
                {tils
                  .filter((post) => post.data.category === category)
                  .map((post) => (
                    <ul class="text-lg font-serif mb-8 list-disc list-outside space-y-2 leading-loose ml-4">
                      <li>
                        <a
                          href={`/til/${post.slug}`}
                          class="font-medium text-primary hover:underline"
                        >
                          {post.data.title}
                        </a>
                      </li>
                    </ul>
                  ))}
              </div>
            ))
          }
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
