---
import type { CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';

const { data, slug }: CollectionEntry<'blog'> = Astro.props;
---

<article class="flex flex-col overflow-hidden rounded-lg shadow-lg">
	<a href={`/blog/${slug}`} class="flex-shrink-0">
		<Image
			format="webp"
			class="w-full object-cover"
			width={342}
			height={192}
			src={data.heroImage}
			alt={`Hero image for post ${data.title}`}
		/>
	</a>
	<div class="flex flex-1 flex-col justify-between bg-white p-6">
		<div class="flex-1">
			<a
				href={`/blog/${slug}`}
				class="text-xl font-bold text-gray-900 hover:text-primary line-clamp-2"
			>
				{data.title}
			</a>
			<p class="text-primary font-medium text-sm my-2">
				<time datetime={data.pubDate}>
					{
						new Date(data.pubDate).toLocaleDateString('en-us', {
							year: 'numeric',
							month: 'long',
							day: 'numeric',
						})
					}
				</time>
			</p>
			<p class="mt-4 text-base text-gray-500 line-clamp-4">
				{data.description}
			</p>
		</div>
		<div class="mt-6 flex items-center flex-wrap">
			{
				data.tags.map((tag: string) => (
					<a
						href={`/tags/${tag}`}
						class="flex items-center px-3 py-0.5 mr-1 mb-1 rounded-full text-sm font-medium bg-secondary hover:bg-primary text-white"
					>
						{tag}
					</a>
				))
			}
		</div>
	</div>
</article>
